@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #2193b0, #6dd5ed);
}
a{
    text-decoration: none;
}
.toDoList{
    text-align: center;
    margin-top: 5rem;
    height: 100vh;
}
.toDoList h2 {
    color: #fff;
    margin-bottom: 1rem;
}
.toDoList .top {
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.toDoList .top input{
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
}
.toDoList .top button {
   background-color: transparent;
   border: none;
   color: #b02139;
   font-size: 18px;
   font-weight: 500;
   position: absolute;
   right: 25px;
   top: 7px;
}
.toDoList .bottom {
    margin: 1rem auto 0 ;
    width: 30%;
    background-color: #fff;
 }
 .toDoList .bottom li {
   margin: 5px;
 }
 .toDoList .bottom li button{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #b02139;
    color: #fff;
    width: 30px;
    height: 30px;
    
 }

